#continueButton { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .2px;
    line-height: 24px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    word-spacing: 0px;
    background-color: #593cfb;
    background-position: 0% 0%;
    color: #ffffff;
    height: 48px;
    width: 100%;
    padding: 11px 15px;
    min-height: 48px;
    max-width: 100%;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    /* display: inline-block; */
    overflow: hidden;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

