#item:hover{
    background-color: white;
}
 #toggle{
    background-color: white;
    color: black;
    border-radius: 0;
    font-size: 16px;
    border-color: black;
    text-decoration: none solid rgb(0, 0, 0);
    text-align: center;
    word-spacing: 0px;
    background-position: 0% 0%;
    height: 40px;
    width: 100%;
    padding: 3px 10px;
 }

 #menu{
    width: 100%;
 }

 #toggle:focus{
    border: 1px solid #4a18dc;

 }

.buttons{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none solid rgb(0, 0, 0);
    background-color: #ffffff;
    background-position: 0% 0%;
    color: #121214;
    height: 78px;
    width: 295.984px;
    margin: 8px 0 8px 0;
    padding: 16px 16px 16px 16px;
    display: flex;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border: .5px solid rgba(128, 128, 128, 0.296);
    
}
 
#MainPickup{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-variant: common-ligatures;
    font-weight: 700;
    letter-spacing: -.25px;
    line-height: 20px;
    text-decoration: none solid rgb(18, 18, 20);
    word-spacing: 0%;
    background-color: #ffffff;
    background-position: 0% 0%;
    color: #121214;
    height: auto;
    width: auto;
    margin: 0 0 16px 0;
    display: inline;
    cursor: pointer;
}
.buttons:hover{
    border: 1px solid #4a18dc;
    text-decoration: none;
}

.buttons::selection{
    background-color: #898989;
}

.buttons1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none solid rgb(0, 0, 0);
    background-color: #ffffff;
    background-position: 0% 0%;
    color: #000000;
    height: 122px;
    width: 295.984px;
    margin: 8px 0 8px 0;
    padding: 16px 16px 16px 16px;
    display: flex;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border: .5px solid rgba(128, 128, 128, 0.296);
}

.buttons1:hover{
    border: 1px solid #4a18dc;
    text-decoration: none;
}


#row1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none solid rgb(18, 18, 20);
    background-color: #ffffff;
    background-position: 0% 0%;
    color: #121214;
    height: 24px;
    width: 138.891px;
    margin: 0 0 4px 0;
    min-width: auto;
    min-height: auto;
    display: block;
    cursor: pointer;
    white-space: initial;
    text-align: left;
}

#Row1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    word-spacing: 0px;
    text-decoration: none solid rgb(18, 18, 20);
    background-color: #ffffff;
    background-position: 0% 0%;
    color: #121214;
    height: 48px;
    width: 183.984px;
    margin: 0 0 4px 0;
    min-width: auto;
    min-height: auto;
    display: block;
    cursor: pointer;
    white-space: initial;
    text-align: left;
}

#Row2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    word-spacing: 0px;
    text-decoration: none solid rgb(118, 118, 119);
    background-color: #ffffff;
    background-position: 0% 0%;
    color: #767677;
    height: 16px;
    width: 183.984px;
    margin: 0 0 4px 0;
    min-width: auto;
    min-height: auto;
    display: block;
    cursor: pointer;
    text-align: left;
}

#Row3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    word-spacing: 0px;
    text-decoration: none solid rgb(18, 18, 20);
    background-color: #ffffff;
    background-position: 0% 0%;
    color: #121214;
    height: 16px;
    width: 183.984px;
    /* margin: 0 0 4px 0; */
    min-width: auto;
    min-height: auto;
    display: block;
    cursor: pointer;
    /* white-space: initial; */
    text-align: left;
}

.logo{
    border: solid 1px black;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin: 0 10px 0 0;
}

#row2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none solid rgb(18, 18, 20);
    text-align: left;
    word-spacing: 0px;
    background-color: #ffffff;
    background-position: 0% 0%;
    color: #121214;
    height: 16px;
    width: 138.891px;
    /* margin: 0 0 4px 0; */
    min-width: auto;
    min-height: auto;
    display: block;
    cursor: pointer;
}

#pickup2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-variant: common-ligatures;
    font-weight: 900;
    letter-spacing: .5px;
    line-height: 16px;
    text-decoration: none solid rgb(137, 137, 137);
    text-transform: uppercase;
    word-spacing: 0px;
    background-color: #ffffff; 
    background-position: 0% 0%;
    color: #898989;
    height: 16px;
    width: 265.984px;
    margin: 8px 0 1px 0;
    display: block;
    position: relative;
    left: 6%;
}

#message{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-variant: common-ligatures;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none solid rgb(137, 137, 137);
    word-spacing: 2px;
    background-color: #ffffff; 
    background-position: 0% 0%;
    color: #898989;
    height: 32px;
    width: 265.984px;
    margin: 0 0 12px 0;
    display: block;
    position: relative;
    left: 6%;

}