.PriceCalculatorModal{  
    background: rgb(255, 255, 255);
    border-radius: 10px;
    outline: none;
    overflow: hidden;
    pointer-events: all;
    height: fit-content;
    max-height: 90vh;
    padding: 30px;
    width: 496px;
    position: absolute;
    top: 20vh;
    left: 30vw;
}

.closeButton{
    display: flex;
    justify-content: end;

    font-size: 25px;
    margin: 0;
    padding: 0%;
}

.closeButton:hover{
    cursor: pointer;
}


.greenCheckMark{
    height: 20px;
    width: fit-content;

    margin-right: 20px;
}

.priceCalculatorHeader{
    margin: 0px 0px 16px;
    color: rgb(18, 18, 20);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 32px;
}

.priceCalculatorSubheader{
    margin: 24px 0px 8px;
    padding-bottom: 10px;
    color: rgb(118, 118, 119);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 16px;
    text-transform: uppercase;

    border-bottom: solid rgb(201, 195, 195)  1px;
}

.pricePerDayContainer, .pickUpFeeContainer{
    display: flex;
    margin: 20px 0px 8px;
    padding-bottom: 20px;
   
    border-bottom: solid rgb(201, 195, 195) 1px;
}

.pickUpFeeHeader, .costOfCarHeader, .totalTripHeader{
    width:80%;
}

.costOfCarValue, .pickUpFeeValue, .totalPriceValue{
    width: 80%;
    text-align: end;
}

.totalPriceContainer{
    display: flex;
    margin-left: 40px;
}

.totalTripHeader, .totalPriceValue{
    margin: 0;
    color: #121214;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
}

.calculationDisclaimer{
    margin: 0;
    color: #767677;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 16px;
    text-transform: uppercase;

    border-bottom: solid rgb(201, 195, 195) 1px;
}

.AdditionalContainer{
    margin-top: 20px;
    padding-bottom: 10px;

    border-bottom: solid rgb(201, 195, 195) 1px;
}

.DescriptionContainer{
    width: 70%;
}

.calculatorHeaders{
    color: grey;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 22px;
    text-transform: none;
}

.calculatorDecscription{
    margin: 0px 0px 12px;
    color: rgb(118, 118, 119);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 16px;
    width: 75%;
}
