.MinimizedFAQsContainer{
    height: 100px;
    overflow: hidden;
    background: linear-gradient(0deg, white, rgba(255, 255, 255, 0));
}

.FAQsMoreButton{
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-weight: 900;
    outline: none;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    font-size: 13px;
    height: 26px;
    line-height: 25px;
    padding: 0px 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(65, 65, 67);
    color: rgb(65, 65, 67);
    margin-top: 15px;
    margin-bottom: 40px;

}