.heart-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 7px ;
    top: 50em;
    right: 1600em;
    font-size: 1px;
    background-color: #ffffff;
    color: #f9f6f6;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border-color: black;
    outline: rgb(250, 248, 248) solid .1px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
  }
/* .wrapper:active h1{
  transition: 1s;
  top: 850px;
} */
  #removed {
    font-family: Arial, Helvetica, sans-serif ;
    position:fixed;
    top:900px;
    right:auto;
    left:auto;
    bottom:-100px;
    background-color: black;
    color: white;
    z-index: 9999;
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 10px 0;
    animation: slide-up 1000ms ease-in-out, slide-down 1000ms ease-in-out 3s forwards
  }
  #saved {
    font-family: Arial, Helvetica, sans-serif ;
    position:fixed;
    top:900px;
    right:auto;
    left:auto;
    bottom:-100px;
    background-color: black;
    color: white;
    z-index: 9999;
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 10px 0;
    animation: slide-up 1000ms ease-in-out, slide-down 1000ms ease-in-out 3s forwards
  }
  @keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  @keyframes slide-down {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(100%);
    }
  }