.ExtrasDisclaimerContainer{
    display: flex;
}

.ExtrasDisclaimer, .extraDescription{
    color: #121214;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    text-transform: none;
}

.ExtrasDisclaimer{
    display: flex;
    margin-bottom: 10px;
}

.extrasQuestionMark{
    display: flex;

    margin-top: 2px;
    margin-left: 8px;
    height: 15px;
    width: fit-content;
}

.extrasQuestionMark:hover{
    cursor: pointer;
}

.extraContainer{
    display: grid;

    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E6E6E6;
    padding-right: 20px;
}

.extraTitle{
    margin: 0;
    color: #121214;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 20px;
    text-transform: none;
}

.extraCostAvailable{
    display: flex;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.extraNumberAvailable{
    margin: 0;
    color: #898989;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    text-transform: none;
}

.displayOff{display: none;}