.featuresContent{
    display: flex;
    justify-content: start;
}

.featureContainer{
    display: flex;
    width: 100%;
    justify-content: start;
    margin: 15px;
}

.FeatureIcon{
    height: 30px;
    width: fit-content;
    padding-right: 20px;
}

.MinimizedFeaturesContainer{
    height: 120px;
    overflow: hidden;
    background: linear-gradient(0deg, white, rgba(255, 255, 255, 0));

    --mask: linear-gradient(to bottom, 
    rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
    rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;

    -webkit-mask: var(--mask); 
    mask: var(--mask);
}

.FeaturesMoreButton{
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-weight: 900;
    outline: none;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    font-size: 13px;
    height: 26px;
    line-height: 25px;
    padding: 0px 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(65, 65, 67);
    color: rgb(65, 65, 67);
    margin-top: 15px;
    margin-bottom: 40px;
}

.AppleCarPlayDisclaimer{
    margin: 0;
    color: #121214;
    margin-bottom: 16px;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: none;
}