.listingOverallName{
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.carListingTitle{
    font-size: 45px;
    font-weight: 700;

    margin: 0%;
}


.carListingName{
    display: flex;

    color: rgb(185, 177, 177);
    font-size: 18px;
}