.listingDetailsParkingDetails{
    display:flex;
    color: #121214;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    text-transform: none;
}