.display-off {
    display: none;
}

.display-on{
    display: block;
    background-color: #F4F4F4;
    margin-left: 10px;
    margin-bottom: 35px;
    border-radius: 10px;
    justify-content: start;
    padding: 16px;
    width: 90%;
}

.star{
    display: inline;
}

.review-content{
    display: inline;
    margin-left: 10px;
}

.reviewContainer{
    display: grid;
    align-content: center;
}

.review-body{
    display: grid;
}


.review-date{
    font-size: 12px;
    color: #898989;
}

.star-row {
    display: flex;
}

.user-review {
    display: flex;
    margin-top: 35px;
}

