.AppIconsContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin-left: 40px;
}

.AppIcon{
    margin-left: 12px;
}

.AppIcon:hover{
    cursor: pointer;
}