.LanguageSelectorContainer{ 
    display: flex;
    align-items: center;
    justify-content: left;

    width: 100%;

    margin-left: 50px;
}

.LanguageSelectorContainer:hover{
    cursor: pointer;
}

.UpArrow{
    font-size: 25px;
    margin: 10px;
}

.FlagIcon{
    height: 30px;
    width: fit-content;

    margin-right: 10px;
}

.LanguageModalOn{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(35, 31, 32, 0.15) 0px 4px 8px, rgba(35, 31, 32, 0.05) 0px 0px 2px;
    display: inline-block;
    position: absolute;

    z-index: 2;
    width: 200px;

    bottom: -150px;

}
.LanguageModalOff{
    display: none;
}