.flags{
    height: 35px;
    width: fit-content;

    margin: 10px;
}

.FlagLanguageSelection{
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
}

.FlagLanguageSelection:hover{
    background-color: #a19c9d54;
    cursor: pointer;
}

.LanguageModal{
    display: block;
}

.checkmark-show{
    display: flex;
    height: 20px;
    width: fit-content;

    justify-self: right;

}

.checkmark-off{
    display: none;
}